@page "/"
@using WeddingSite.Client.Services.Abstractions
@inject IDataService DataService
@inject ITokenService TokenService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<input type="text" placeholder="Passphrase" @bind-value="@passphraseValue" />
<button @onclick="GetToken">Get Token</button>

<hr />

<p>@text</p>

<hr />

<AuthorizeView>
    <Authorized>
        The user is authorized
    </Authorized>
    <NotAuthorized>
        The User is not authorized
    </NotAuthorized>
</AuthorizeView>

@code {
    private string passphraseValue = string.Empty;
    private string text = string.Empty;

    private async Task GetToken()
    {
        var currentPassphrase = passphraseValue;
        var result = await DataService.GetAuthTokenAsync(currentPassphrase);

        if (result == currentPassphrase)
        {
            text = "Couldn't find an invitation with that passphrase!";
        }

        text = result;
        await TokenService.StoreTokenAsync(result);

        this.StateHasChanged();
    }

}